<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <style type="text/css">
            .bigger-than-40:after {
                content: 'Bigger than 40';
            }
            .bigger-than-80:after {
                content: 'Bigger than 80';
            }
            .only-200:after {
                content: 'Only 200!';
            }
        </style>
    </head>
    <body ng-app="App">
        <div ng-controller="Ctrl as ctrl">
            <div
                track-height="w00t"
                track-height-apply="max"
                ng-class="{'bigger-than-40': ctrl.heights().current > 40, 'only-200': ctrl.heights().current == 200, 'bigger-than-80': ctrl.heights().current > 80}"
                >
                <div ng-repeat="i in ctrl.randomText track by $index">OK</div>
            </div>

            <button ng-click="ctrl.setRandomText()">Set random text</button>

            <div>Heights<br>current: {{ ctrl.heights().current }}<br>min: {{ ctrl.heights().min }}<br>max: {{ ctrl.heights().max }}</div>
        </div>

        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../angular-track-height.js"></script>
        <script src="example.js"></script>
    </body>
</html>